:root {
    --primary-color: #48674A;
    --secondary-color: #C9D5B5;
    --font-color: #4E3D42;
    --background-color: #E3DBDB;
}

body {
    font-family: monospace;
    background-color: var(--background-color);
    color: #4E3D42;
    font-weight: 500;
}

header {
    margin-bottom: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-right: 20px;
    padding-top: 20px;
}

nav ul {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #4E3D42;
    
}

a:hover {
    text-decoration: line-through;
}

img {
    width: 100%;
}

footer {
    padding: 20px;
}

#work-section a {
    filter: grayscale(100%);
    position: relative;
    border: 4px solid var(--primary-color); 
}

#work-section a:hover {
    filter: none;
}

footer p {
   text-align: center;
}


#nav-logo {
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
    
}

#first-section {
    position: relative;
    background-image: url(images/pexels-sohail-nachiti-807598.jpg);
    height: 200px;
    letter-spacing: 35px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first-section::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .30;
    z-index: 1;
}

#first-section h2 {
    color: #E0AFA0;
    font-size: 28px;
    font-weight: 900;
    z-index: 2;
}


.main-section-style {
    display: flex;
    margin-bottom: 30px;
    
}

.main-section-style h2 {
    font-size: 40px;
    color: var(--primary-color)
}

.section-title {
    width: 25%;
    text-align: end;
    border-right: 5px solid var(--primary-color);
}

.section-title h2 {
    padding-right: 10px;
}

.section-content {
    padding-left: 20px;
    width: 75%;
}

#work-section .section-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 175px 175px;
    gap: 16px;
    padding: 0 40px;
}

.project-container {
    width: 900px;
    height: 900px;
}

#container-1 {
    justify-content: center;
}

#first-project {
    grid-column: span 2;
    background-image: url(images/screenshot-module-1-challenge.png);
    background-size: cover;
}

#week-one-activity {
    background-image: url(images/module-1-mini-project-screenshot.png);
    background-size: cover;
}

#calculator {
    background-image: url(images/pexels-antonio-batinić-4164418.jpg);
    background-size: cover;
}

#placeholder-1 {
    background-image: url(images/pexels-tranmautritam-326503.jpg);
    background-size: cover;
}

#placeholder-2 {
    background-image: url(images/pexels-designecologist-1779487.jpg);
    background-size: cover;
}

.card-header {
    position: absolute;
    background-color: #48674A;
    color: white;
    z-index: 10;
    bottom: 10px;
    left: 0px;
    padding: 8px;
}


.contact-section {
    padding-left: 20px;
    display: flex;
    gap: 20px;
    width: 75%;
    justify-content: center;
    align-items: center;
}


/* mobile */
@media screen and (max-width: 767px) {

    #nav-logo {
        font-size: 20px;
    }

    nav li {
        text-align: center;
    }

    .main-section-style {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-title {
        border-bottom: 5px solid #48674A;
        border-right: unset;
        width: 250px;
        text-align: center;
        margin-bottom: 20px;
    }

    
    #work-section .section-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    #work-section .section-content a {
        height: 35vw;
        width: 100%;
    }

    .contact-section {
        display: block;
        text-align: center;
    }

    .contact-section li {
        padding: 3px;
    }
}
